* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
}

.main-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 14rem 1fr;
  grid-template-rows: 9rem 1fr;
}

#sidenav {
  background-color: rgb(0, 144, 254);
  grid-row: 1 / 3;
  padding: 0.75rem;
  display: grid;
  justify-content: center;
  color: white;
  font-weight: 700;
}

#sidenav img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.sidenav-items {
  display: grid;
  justify-content: flex-start;
  align-content: flex-start;
}

.sidenav-item,
.sidenav-head {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.8rem;
}

.sidenav-text,
.sidenav-icon,
.sidenav-head-icon,
.sidenav-head-text {
  display: grid;
  align-items: center;
}

.sidenav-head-text {
  font-size: 1.5rem;
}

.sidenav-text {
  font-size: 1.2rem;
}

.sidenav-icon {
  transform: scale(55%);
}

#tophead {
  background-color: white;
  border-bottom: 5px solid rgb(180, 180, 180);
  grid-row: 1 / 2;
}

#tophead-container {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  padding-left: 0.5rem;
}

#tophead-searchbar {
  display: grid;
  grid-template-columns: 1fr 15fr;
  justify-self: start;
}

#search-icon {
  justify-self: end;
  align-self: center;
}

#searchpic {
  transform: scale(50%);
  padding-top: 1rem;
}

#search-input {
  width: 100%;
  min-width: 16rem;
  align-self: center;
  justify-self: center;
}

#search-input-field {
  border-radius: 15px;
  width: 100%;
  border: none;
  background-color: rgb(204, 215, 234);
  line-height: 1.5rem;
  padding: 0.2rem 0.4rem;
  text-align: end;
}

#tophead-info {
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr 1fr 2fr;
  padding-right: 2rem;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

#alert img {
  transform: scale(40%);
}

#pfp-small {
  justify-self: center;
  border-radius: 100%;
  overflow: hidden;
}

#pfp-small > img {
  width: 2.2rem;
  clip-path: circle();
}

#tophead-id {
  display: grid;
  grid-template-columns: 1.5fr 10fr;
  align-items: center;
  justify-self: start;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

#pfp-med {
  background-color: white;
  justify-self: start;
  border-radius: 100%;
  overflow: hidden;
}

#pfp-med > img {
  width: 3.5rem;
  clip-path: circle();
}

#greeting {
  display: grid;
  height: 60%;
  background-color: white;
  margin-left: 1rem;
}

#hello {
  font-size: 0.8rem;
  font-weight: bold;
}

#username-small {
  font-weight: bold;
}

#username-med {
  font-size: 1.2rem;
  font-weight: bold;
}

#tophead-actions {
  background-color: white;
  display: grid;
  justify-self: end;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 2rem;
  gap: 1rem;
}

.tophead-btn {
  border-radius: 50px;
  margin: 1.2rem 0;
  background-color: rgb(0, 144, 254);
  color: white;
  width: 6rem;
  display: grid;
  justify-content: center;
  align-content: center;
}

main {
  background-color: rgb(204, 215, 234);
  grid-column-start: 2;
  display: grid;
  grid-template-columns: auto 25%;
  padding: 1rem;
}

#main-left {
  height: 100%;
}

#main-left-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  min-height: 9rem;
  flex: 1 1 20rem;
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5px auto;
  box-shadow: 3px 3px 2px gray;
  margin-top: 1rem;
  margin-right: 1rem;
}

.card-main {
  display: grid;
  background-color: white;
  height: 100%;
}

.card-leftborder {
  background-color: goldenrod;
  height: 100%;
}

.cardtext {
  margin: 1.5rem 0.8rem;
  font-family: Arial;
}

.cardhead {
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.cardlinks {
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  justify-self: end;
}

.cardlinks img {
  transform: scale(50%);
}

#main-right {
  display: flex;
  flex-direction: column;
}

#main-right h1 {
  margin-left: 0rem;
}

.announcements-card {
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 2px gray;
  padding: 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 0.9rem;
}

.announcements-card h2 {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

.announcements-card ul {
  list-style-type: none;
}

.announcements-card li {
  border-top: 1px solid lightgray;
  margin-bottom: 0.5rem;
}

.announcements-card ul :nth-child(1) {
  border-top: none;
  margin-top: 0.5rem;
}

.trending-card {
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 2px gray;
  padding: 1.5rem;
  margin: 1rem 0rem 1rem 0rem;
  font-size: 0.9rem;
}

.trending-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: left;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 0.3rem;
}

.trending-img {
  align-self: center;
}

.trending-img > img {
  width: 2.5rem;
  height: 2.5rem;
  clip-path: circle();
}
